#Игнорирование директорий
# Игнорирование виртуального окружения
venv/

# Игнорирование временных файлов
temp/

# Игнорирование кэшированных файлов Python
__pycache__/

responses/
# Директория с собранными файлами
dist/

# Директория с собранными файлами для PyInstaller
build/

# Файлы настроек IDE, например, для PyCharm
.idea/
pw-browsers/
# Игнорирование всех .pyc файлов
*.pyc

# Дополнительные файлы и папки, которые вы также можете захотеть игнорировать
docker/
LogExpert/


# Файлы операционной системы
.DS_Store
Thumbs.db


# Игнорирование файла с переменными окружения
.env

# Игнорирование лог файлов
*.log

# Игнорирование разных файлов
*.csv
*.xlsx
*.json
*.pdf
*.spec
*.7z
*.exe
*.docx
*.sql
*.jpeg
*.png
*.zip
*.jpg
*.xml
*.html
*.mp4
*.ico
*.db
*.session-journal
# Здесь мы игнорируем все .txt файлы...
*.txt
# ...но затем добавляем исключение для requirements.txt
!requirements.txt
!info.txt
*.session

# Игнорирование файл с прокси серверами
**/proxi.json
**/proxi.py
**/proxies.py

# Игнорирование файл с доступом к GoogleSheets
**/access.json
**/config.py
