# Исключаем виртуальное окружение
venv/
# Логи и временные файлы
*.log
*.pyc
__pycache__/
# Данные базы данных
database/
# Сессии Telethon
sessions/
# Логирование
logging/
# Лишние системные файлы
.DS_Store
