body {
  font-family: "Roboto" sans-serif;
  font-size: 12px;
}

.wrapper-modal {
  border: 1px solid rgb(167, 144, 144);
}

.wrapper-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003186;
  color: #ffffff;
  padding: 10px;
}

.wrapper-modal-title {
  width: 200px;
}

.wrapper-modal-close {
  cursor: pointer;
}

.wrapper-modal .right-column {
  background-color: #f5f7f9;
}

.title-block {
  color: #000c17;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 10px;
}

.custom-form-control {
  border-radius: 8px;
  border: 1px solid #cbcccd;
  /* padding: 8px 16px; */
}

.custom-form-select,
.custom-form-control-label {
  border-radius: 8px;
  border: 1px solid #cbcccd;
  padding-top: 30px;
  position: relative;
}

#inputGroupSelect01 {
  border-radius: 10px;
}

#responsible-manager {
  border-radius: 8px;
}

#user-phone {
  border-radius: 8px;
}

#user-email {
  border-radius: 8px;
}

#user-site {
  border-radius: 8px;
}

.custom-form-control-label+label,
.custom-form-select+label {
  position: absolute;
  left: 14px;
  top: 7px;
  color: rgb(0, 12, 23, 0.45);
  z-index: 10;
}

.additional-info-icon {
  display: flex;
  align-items: center;
}

.contact-block-header,
.contact-messenger-header,
.payment-details-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact-block-header-title,
.contact-messenger-header-title,
.payment-details-header-title {
  width: 150px;
}

/* right column */
.right-column {
  background-color: #f5f7f9;
}

.comments-group .comments-item {
  background-color: #ffffff;
  border: 1px solid rgb(0, 22, 41, 0.4);
  padding: 5px 10px;
  border-radius: 5px;
}

.comments-group .comments-item p {
  margin-bottom: 0;
  color: #000c17;
}

.comments-group textarea {
  border: 1px solid rgb(0, 22, 41, 0.4);
}

.comments-group .comments-item-label {
  font-size: 12px;
  color: rgb(0, 12, 23, 0.45);
}

.comments-group .comments-group-divider-date {
  background-color: #f5f7f9;
  display: flex;
  align-items: center;
  color: rgb(0, 12, 23, 0.45);
}

.comments-group-divider-date .date {
  font-size: 12px;
  color: rgb(0, 12, 23, 0.45);
}

.comments-group .comments-group-divider-date::before,
.comments-group .comments-group-divider-date::after {
  flex: 1;
  content: "";
  padding: 1px;
  background-color: #bdbdbd;
  margin: 5px;
}

.comments-group-submit {
  justify-content: flex-end;
}

.comments-group-submit button {
  background-color: #294ebc;
  border-radius: 12px;
  font-size: 14px;
  width: 150px;
  height: 40px;
}

.nav-tabs .nav-link {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #294ebc;
  color: #fff;
  font-size: 12px;
  width: 20%;
  box-shadow: 0px 6px 12px 0px #001F3B1F;
}

.nav-tabs .nav-link.active {
  color: #000c17;
  font-weight: 500;
}

/* end right column */
.custom-form-checkbox {
  display: flex;
  align-items: end;
}

.form-check input {
  width: 22px;
  height: 22px;
  border: 2px solid #294ebc;
  margin-right: 10px;
}

.form-check input+label {
  font-weight: 500;
}

.additional-info-icon .material-icons {
  font-size: 28px;
  color: #294ebc;
  cursor: pointer;
}

.custom-button-save {
  background-color: #fff;
  padding: 0;
  color: #294ebc;
  font-weight: 400;
  font-size: 14px;
}

/* squared */
.input-squared-border-right {
  padding-left: 0;
}

.input-squared-border-left {
  padding-right: 0;
}

.input-squared-border-left input,
.input-squared-border-left select {
  border-right: 0px;
}

.input-squared-border-left input,
.input-squared-border-left select,
.input-squared-border-right input,
.input-squared-border-right select {
  border-radius: 0;
  padding: 12px 22px;
  /* color: #cbcccd; */
}

#custom-block-content-messangers {
  border: 1px solid #ced4da;
}

::placeholder {
  color: #606b75 !important;
  font-size: 12px;
}



.main-info-user-phone,
.main-info-user-email,
.contact-block-duplicate,
.messenger-block-duplicate,
.payment-block-duplicate {
  border: 0;
  background-color: transparent;
}

.title-block,
.wrapper-modal-title,
.form-check-label,
.input-group label,
.custom-block-content button,
.comments-item p {
  font-size: 14px;
}


#responsible-manager,
#inputGroupSelect01,
#custom-block-content-messengers,
#custom-block-content-messangers {
  font-size: 14px !important;
}

.messenger-block-duplicate-wrapper input[type="text"],
#custom-block-content-swift {
  padding: 11px 22px;
}

#customSelectWithColor select {
  background-color: #294ebc;
  color: #ffffff;
}

.nav-tabs .nav-link {
  width: 16.66%;
}

.nav-tabs .nav-link {
  padding: 8px 4px;
}

#nav-tabContent select,
.main-num-info,
#nav-tabContent .input-group input[type="text"] {
  padding: 10px 10px;
  font-size: 12px;
  color: #606b75 !important;
  border-radius: 0;
}

.input-group input,
.input-group select {
  border-radius: 8px;
}

.input-image input {
  border-radius: 20px;
}

/* table */
p,
.form-select,
input[type="text"],
.custom-select span,
.custom-select li {
  font-size: 12px;
}

.form-check-input {
  font-size: 14px;
}

/* table control */
.table-control {
  padding: .5rem .5rem;
}

/* end table control */
table th {
  border-right: 1px solid #f0f0f0;
}

table tr {
  border-bottom: 1px solid #f0f0f0;
}

table tr td {

  border-right: 1px solid #f0f0f0;
}


#contact-table thead th {
  background-color: #fafafa;
}

#contact-table tbody td {
  background-color: #f6f7f9;
}


.organization-wrapper {
  display: flex;
}

.organization-img {
  margin-right: 8px;
}

.organization-contact p {
  margin-bottom: 0;
  text-align: left;
}

.organization-contact-name {
  color: #6F6F6F;
}

.form-select-wrapper {
  max-width: 180px;
}

.button-action-icon {
  border: 1px solid #E8E8E8;
}

.contact-main-icons {
  margin-right: 20px;
}

.contact-main-icons img {
  margin-right: 5px;
}

.contact-icons-wrapper,
.contact-messengers-icons {
  display: flex;
}

.contact-messengers-icons .messenger-icon-left {
  margin-right: 5px;
}

.messenger-dropup-content-wrapper .fa-chevron-down {
  font-size: 16px;
}


.dropbtn {
  color: #000;
  font-size: 16px;
  border: none;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: -2px;
}

.dropup-content a {
  color: black;
  padding: 9px 7px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {
  background-color: #ddd
}

.dropup:hover .dropup-content {
  display: block;
}

.dropup-content img {
  width: 19px;
}

.dropup:hover .dropbtn {
  background-color: #fff;

}

.table-control-wrapper {
  display: flex;
  justify-content: space-between;
}

.table-control-item {
  display: inline-block;
}

.table-control-item-range-calendar {
  width: 200px;
}

.table-control-item-search {
  width: 100%;
}

.table-control-right {
  text-align: end;
}

.btn-action {
  font-size: 12px;
  background-color: #294EBC;
  color: #ffffff;
  border-radius: 7px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.btn-action .name {
  margin-right: 12px;
}

.table-control-first-row {
  border-bottom: 1px solid #e3e3e3;
}

.table-control-item-filter {
  width: 140px;
}

.table-control-item-export {
  width: 140px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.show-number-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.show-number-contact .show-title,
.show-number-contact .form-select {
  margin-right: 10px;
}


/* custom Form select */
.custom-select {
  position: relative;
}

.select-button {
  background-color: #fff;
  padding: .375rem 0.7rem .375rem .7rem;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-value {
  text-align: left;
}

.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #000;
  transition: transform ease-in-out 0.3s;
}

.select-dropdown {
  position: absolute;
  list-style: none;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 4px;
  padding-left: 0;
  max-height: 226px;
  overflow-y: auto;
  transition: 0.5s ease;
  transform: scaleY(0);
  opacity: 0;
  visibility: hidden;
}

.select-dropdown:focus-within {
  box-shadow: 0 10px 25px rgba(94, 108, 233, 0.6);
}

.select-dropdown li {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.select-dropdown li label {
  width: 100%;
  padding: 8px 10px;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.select-dropdown::-webkit-scrollbar {
  width: 7px;
}

.select-dropdown::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}

.select-dropdown::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}

.select-dropdown input[type="radio"] {
  position: absolute;
  left: 0;
  opacity: 0;
}

.custom-select.active .select-dropdown {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
  z-index: 2;
}

#select-dropdown .option-first-contact-wrapper {
  background: #F6B26B;
  color: #fff;
}

#select-dropdown .option-in-work-wrapper {
  background: #434343;
  color: #fff;
}

#select-dropdown .option-commercial-offer-wrapper {
  background: #76A5AF;
  color: #fff;
}

#select-dropdown .option-making-a-decision-wrapper {
  background: #6D9EEB;
  color: #fff;
}

#select-dropdown .option-agreement-wrapper {
  background: #93C47D;
  color: #fff;
}

#select-dropdown .option-refusal-wrapper {
  background: #E06666;
  color: #fff;
}

.custom-checkbox-wrapper {
  text-align: center;
}


.action-wrapper button {
  border: 1px solid #E8E8E8;
}


/* END table */


/* users and access  */
.users_and_access_wrapper {
  height: 100vh;
}

.wrapper_account {
  display: flex;
  align-items: center;
}

.account_logo {
  margin-right: 5px;
}

.account_desc {
  color: #979797;
  line-height: 1rem;
  display: flex;
  flex-direction: column;
}

.account_desc p {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 0;
}

.sidebar {
  margin-top: 50px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 5px;
}

.sidebar_link {
  display: flex;
  align-items: center;
  line-height: 0;
  font-size: 13px;
}

.sidebar_link {
  padding: 10px;
  border-radius: 10px;
  color: #000000;
  text-decoration: none;
}

.sidebar_link.sidebar_link_active {
  background: #d3e3fd;
}

.sidebar .sidebar_icon {
  margin-right: 15px;
}

/* right block */
.users_and_access_tab {
  padding-top: 50px;
}

.custom-nav-bar {
  margin-top: 50px;
}

h2.users_and_access_tab_title {
  text-align: center;
}

p.users_and_access_tab_description {
  text-align: center;
  color: #979797;
  font-size: 14px;
}


.btn-action {
  font-size: 12px;
  background-color: #294EBC;
  color: #ffffff;
  border-radius: 7px;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  line-height: 1rem;
  width: 100%;
}

.btn-action .name {
  margin-right: 12px;
}

.btn-action-icon {
  background-color: #003186;
  width: 20px;
  height: 20px;
  font-size: 15px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}

.user_email {
  padding-right: 5px;
  width: 20%;
}

.user_name,
.user_surname,
.user_agreement {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}

.bth_add_user {
  width: 20%;
  padding-left: 5px;
}

/* users table */
#users_table th,
#contact_table th {
  font-size: 14px;
  background-color: #fff;
}

#users_table th,
#users_table tr td {
  border-right: none;
}

/* END users table */


/* creating role */
.creating_role_desc {
  color: #979797;
  font-size: 14px;
}

.lists_of_crm_roles_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.lists_of_crm_roles {
  width: 450px;
  margin-bottom: 30px;
}

.lists_of_crm_roles_wrapper input[type="checkbox"] {
  margin-top: 0;
}

.lists_of_crm_roles_header {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}


.lists_of_crm_roles_header input[type="checkbox"] {
  margin-right: 10px;
  border: 2px solid #294EBC;
  font-size: 18px;
}

ul.lists_of_crm_roles_checkbox {
  margin-left: 30px;
}

ul.lists_of_crm_roles_checkbox li input[type="checkbox"] {
  font-size: 15px;
  border: 2px solid #979797;
}

.lists_of_crm_roles ul {
  list-style: none;
  padding: 0;
}

.lists_of_crm_roles li {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 5px 0;
  color: #979797;
}

.lists_of_crm_roles li label,
.lists_of_crm_roles_header label {
  display: flex;
  align-items: center;
}

.lists_of_crm_roles li input[type="checkbox"] {
  margin-right: 10px;
}

/* END creating role */



/* right block */

/* END users and access  */