# Игнорирование виртуального окружения
venv/

# Игнорирование временных файлов
temp/

# Игнорирование кэшированных файлов Python
__pycache__/

# Игнорирование всех .pyc файлов
*.pyc

# Дополнительные файлы и папки, которые вы также можете захотеть игнорировать

# Файлы настроек IDE, например, для PyCharm
.idea/

# Файлы операционной системы
.DS_Store
Thumbs.db

# Директория с собранными файлами
dist/

# Директория с собранными файлами для PyInstaller
build/

# Игнорирование файла с переменными окружения
.env

# Игнорирование лог файлов
*.log

# Игнорирование разных файлов
*.csv
*.xlsx
*.spec
*.7z
*.exe
# Игнорирование файл с прокси серверами
**/proxi.json
