aiofiles==24.1.0
altgraph==0.17.4
beautifulsoup4==4.13.3
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
colorama==0.4.6
curl_cffi==0.11.4
et_xmlfile==2.0.0
greenlet==3.1.1
idna==3.10
loguru==0.7.3
lxml==5.3.1
macholib==1.16.3
numpy==2.2.4
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pefile==2023.2.7
playwright==1.51.0
pycparser==2.22
pyee==12.1.1
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.1
pywin32-ctypes==0.2.3
requests==2.32.3
setuptools==77.0.3
six==1.17.0
soupsieve==2.6
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
win32_setctime==1.2.0
