[mysqld]
# Основные параметры
max_connections = 100
table_open_cache = 400
thread_cache_size = 10

# Память
tmp_table_size = 32M
max_heap_table_size = 32M

# InnoDB параметры
innodb_buffer_pool_size = 2G  # 50-70% от всей доступной ОЗУ
innodb_redo_log_capacity = 512M
innodb_log_buffer_size = 64M
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 50

# Обработка запросов
key_buffer_size = 256M
sort_buffer_size = 4M
read_buffer_size = 2M
read_rnd_buffer_size = 4M
myisam_sort_buffer_size = 64M
