aiofiles==24.1.0
altgraph==0.17.4
certifi==2024.7.4
cffi==1.17.0
colorama==0.4.6
curl_cffi==0.7.1
greenlet==3.0.3
loguru==0.7.2
packaging==24.1
pefile==2023.2.7
playwright==1.46.0
pycparser==2.22
pyee==11.1.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pywin32-ctypes==0.2.3
selectolax==0.3.21
typing_extensions==4.12.2
win32-setctime==1.1.0
