cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
cryptography==42.0.8
deskew==1.5.1
imageio==2.35.1
lazy_loader==0.4
loguru==0.7.2
networkx==3.3
numpy==2.0.0
opencv-python==4.10.0.84
packaging==24.1
pandas==2.2.2
pdfminer.six==20231228
pdfplumber==0.11.1
pillow==10.3.0
pycparser==2.22
pypdfium2==4.30.0
pytesseract==0.3.10
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
scikit-image==0.24.0
scipy==1.14.1
six==1.16.0
tifffile==2024.8.30
tzdata==2024.1
win32-setctime==1.1.0
wordninja==2.0.0
