# Исключаем виртуальное окружение
venv/

# Логи и временные файлы
*.log
*.pyc
__pycache__/
logging/

# Данные базы данных (используется как volume)
database/

# Лишние системные файлы
.DS_Store

# Конфиденциальные данные
configuration/

# Git
.git/
