altgraph==0.17.4
beautifulsoup4==4.13.4
certifi==2025.4.26
charset-normalizer==3.4.2
colorama==0.4.6
idna==3.10
loguru==0.7.3
lxml==5.4.0
packaging==25.0
pefile==2023.2.7
psycopg2-binary==2.9.9
pyinstaller==6.14.0
pyinstaller-hooks-contrib==2025.4
pywin32-ctypes==0.2.3
requests==2.32.3
setuptools==80.9.0
soupsieve==2.7
typing_extensions==4.13.2
urllib3==2.4.0
win32_setctime==1.2.0
